Repository DBDBD20230803/DaalgaeProject, pull requests merged in 2023-09, with the labels that each got.

#66 자유게시판 글 조회, 댓글 조회 기능 (Test DB)
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardAnnoController.java
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardBoastController.java
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardController.java
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardFreeController.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/BoardDTO.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/ReplyDTO.java
  src/main/java/com/daalgae/daalgaeproject/config/WebConfig.java
  src/main/resources/application.yml
  src/main/resources/mybatis/mapper/BoardMapper.xml
  src/main/resources/mybatis/mapper/NoticeMapper.xml
  src/main/resources/static/css/board.css
  src/main/resources/static/images/firstPageButton.png
  src/main/resources/static/images/lastPageButton.png
  src/main/resources/templates/board/abandonedBoard.html
  src/main/resources/templates/board/announcementBoard.html
  src/main/resources/templates/board/announcementBoardSelect.html
  src/main/resources/templates/board/boastBoard.html
  src/main/resources/templates/board/boastBoardSelect.html
  src/main/resources/templates/board/freeBoard.html
  src/main/resources/templates/board/freeBoardSelect.html
  src/main/resources/templates/component/header.html
Labels: feature, board

#76 결제 API 데이터베이스 연동 작업중입니다.
  src/main/java/com/daalgae/daalgaeproject/common/MainController.java
  src/main/java/com/daalgae/daalgaeproject/payment/dto/KakaoApprove.java
  src/main/java/com/daalgae/daalgaeproject/payment/dto/KakaoReady.java
  src/main/java/com/daalgae/daalgaeproject/payment/paycontroller/KakaoPayController.java
  src/main/java/com/daalgae/daalgaeproject/payment/service/KakaoPayService.java
  src/main/resources/static/js/ready.js
  src/main/resources/templates/payment/payments.html
  src/main/resources/templates/payment/success.html
Labels: bug

#75 templates에 layouts 폴더 이동, 각 페이지 layout code 수정, 자랑갤러리 썸네일 이미지로 목록 보기 …
  sql/daalgae.sql
  src/main/java/com/daalgae/daalgaeproject/board/dto/AttachmentDTO.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/BoardDTO.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/CategoryDTO.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/ReplyDTO.java
  src/main/java/com/daalgae/daalgaeproject/member/model/dto/MemberDTO.java
  src/main/java/com/daalgae/daalgaeproject/member/model/dto/UserImpl.java
  src/main/java/com/daalgae/daalgaeproject/member/model/service/LoginServiceImpl.java
  src/main/java/com/daalgae/daalgaeproject/payment/paycontroller/KakaoPayController.java
  src/main/resources/application.yml
  src/main/resources/mybatis/mapper/BoardMapper.xml
  src/main/resources/static/css/board.css
  src/main/resources/templates/board/abandonedBoard.html
  src/main/resources/templates/board/abandonedBoardAdoptInfo.html
  src/main/resources/templates/board/abandonedBoardCenter.html
  src/main/resources/templates/board/abandonedBoardPickupInfo.html
  src/main/resources/templates/board/abandonedBoardSelect.html
  src/main/resources/templates/board/announcementBoard.html
  src/main/resources/templates/board/announcementBoardModify.html
  src/main/resources/templates/board/announcementBoardSelect.html
  src/main/resources/templates/board/announcementBoardWrite.html
  src/main/resources/templates/board/board.html
  src/main/resources/templates/board/boastBoard.html
  src/main/resources/templates/board/boastBoardModify.html
  src/main/resources/templates/board/boastBoardSelect.html
  src/main/resources/templates/board/boastBoardWrite.html
  src/main/resources/templates/board/freeBoard.html
  src/main/resources/templates/board/freeBoardModify.html
  src/main/resources/templates/board/freeBoardSelect.html
  src/main/resources/templates/board/freeBoardWrite.html
  src/main/resources/templates/layouts/boardLayout.html
Labels: feature, board

#83 공지사항 페이지 개발 및 검색기능 개발중
  sql/daalgae.sql
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardAnnoController.java
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardBoastController.java
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardController.java
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardFreeController.java
  src/main/java/com/daalgae/daalgaeproject/board/dao/BoardMapper.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/AttachmentDTO.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/BoardDTO.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/ReplyDTO.java
  src/main/java/com/daalgae/daalgaeproject/board/service/BoardService.java
  src/main/java/com/daalgae/daalgaeproject/board/service/BoardServiceImpl.java
  src/main/java/com/daalgae/daalgaeproject/common/paging/Pagenation.java
  src/main/java/com/daalgae/daalgaeproject/common/paging/SelectCriteria.java
  src/main/java/com/daalgae/daalgaeproject/config/MailConfig.java
  src/main/java/com/daalgae/daalgaeproject/member/model/dto/MemberDTO.java
  src/main/java/com/daalgae/daalgaeproject/member/model/dto/UserImpl.java
  src/main/java/com/daalgae/daalgaeproject/payment/dto/Amount.java
  src/main/resources/application.yml
  src/main/resources/mybatis/mapper/BoardMapper.xml
  src/main/resources/static/css/board.css
  src/main/resources/templates/board/announcementBoard.html
  src/main/resources/templates/board/announcementBoardSelect.html
Labels: feature, board

#95 중간점검 PR
  sql/daalgae.sql
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardAnnoController.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/ReplyDTO.java
  src/main/resources/mybatis/mapper/BoardMapper.xml
  src/main/resources/static/css/board.css
  src/main/resources/templates/board/announcementBoard.html
  src/main/resources/templates/board/freeBoard.html
  src/main/resources/templates/board/freeBoardSelect.html
Labels: feature, board

#112 [Feature] 자유게시판 글 등록, 댓글 등록 및 삭제, 글 수정 기능(개발중)
  sql/daalgae.sql
  src/main/java/com/daalgae/daalgaeproject/board/controller/BoardFreeController.java
  src/main/java/com/daalgae/daalgaeproject/board/dao/BoardMapper.java
  src/main/java/com/daalgae/daalgaeproject/board/dto/ReplyDTO.java
  src/main/java/com/daalgae/daalgaeproject/board/service/BoardService.java
  src/main/java/com/daalgae/daalgaeproject/board/service/BoardServiceImpl.java
  src/main/java/com/daalgae/daalgaeproject/common/exception/board/BoardDeleteException.java
  src/main/java/com/daalgae/daalgaeproject/common/exception/board/BoardUpdateException.java
  src/main/java/com/daalgae/daalgaeproject/config/MailConfig.java
  src/main/resources/mailAuth.properties
  src/main/resources/mybatis/mapper/BoardMapper.xml
  src/main/resources/static/css/board.css
  src/main/resources/templates/board/announcementBoardSelect.html
  src/main/resources/templates/board/board.html
  src/main/resources/templates/board/freeBoard.html
  src/main/resources/templates/board/freeBoardSelect.html
  src/main/resources/templates/board/freeBoardWrite.html
Labels: feature, board

#147 [Fix] 자랑갤러리 title, content 입력 제한 기능 수정
  src/main/resources/static/js/board.js
  src/main/resources/templates/board/boastBoardWrite.html
  src/main/resources/templates/board/freeBoardSelect.html
Labels: bug, board
